/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.search {
  padding: 10% 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchInput {
  min-width: 300px;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.host-list {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  max-width: 1000px;
}

/* .host-card{} */
.host-card:hover {
  transform: translate3d(5px, -5px, 5px);
  box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5);
}